.root {
  position: relative;
  width: 1440px;
  height: 1332px;
  align-items: flex-start;
  background-color: #e9e9e9;
  overflow: hidden;
  overflow-y: scroll;
}
.Header {
  position: absolute;
  left: 0;
  top: 0;
  width: 1440px;
  height: 90px;
  background-color: #d9d9d9;
}
.frameNewQuestion {
  position: absolute;
  left: 153px;
  top: 491px;
  width: min-content;
  height: min-content;
}
.frameNew_Question {
  position: absolute;
  left: 444px;
  top: 518px;
  width: min-content;
  height: 453px;
  align-items: flex-start;
}
.frameNewQuestion1 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.NewQuestionFrame {
  position: relative;
  width: 510px;
  height: 424px;
  align-items: flex-start;
  border-radius: 25px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px #0000001a;
}

.form-control {
  resize: none !important;
}
.QuestionFrame {
  resize: none;
  position: absolute;
  left: 24px;
  top: 147px;
  width: 462px;
  height: 261px;
  align-items: flex-start;
  outline: solid 1px #dedede;
  outline-offset: -1px;
  border-radius: 25px;
  overflow: hidden;
}
.DialogHeaderFrame {
  position: absolute;
  left: 24px;
  top: 24px;
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 301px;
}
.newQuestion {
  color: #34324c;
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  font-family: Rubik, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.akarIconsCircleX {
  width: 24px;
  height: 24px;
}

.DialogLine {
  transform-origin: bottom left;
  position: absolute;
  left: 24px;
  top: 75px;
  width: 462px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #dedede;
  margin-bottom: -1px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.SubmitFrame {
  position: absolute;
  left: 24px;
  top: 362px;
  width: 462px;
  height: min-content;
  flex-direction: column;
  place-content: center;
  align-items: center;
  gap: 12px;
}
.questionLine {
  width: 460px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #d1d1d1;
  margin-bottom: -1px;
}
.submitFrame1 {
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 314px;
}
.submitFrame2 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 16px;
}
.aa {
  color: #000;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.bxImages {
  width: 16px;
  height: 16px;
}

.submitFrame3 {
  width: min-content;
  height: min-content;
}
.btnPost {
  width: min-content;
  height: 26px;
  align-items: center;
  padding: 8px 12px;
  border-radius: 25px;
  background-color: #99a5e5;
  box-shadow: 0px 4px 8px 0px #6074dd40;
}
.post {
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.QuestionTitleFrame {
  position: absolute;
  left: 24px;
  top: 92px;
  width: 462px;
  height: 43px;
  align-items: flex-start;
  outline: solid 1px #dedede;
  outline-offset: -1px;
  border-radius: 16px;
  overflow: hidden;
}
.frameRightSide {
  position: absolute;
  left: 925px;
  top: 491px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.frameAbout {
  position: relative;
  width: 352px;
  height: 283px;
  align-items: flex-start;
  padding: 24px;
  border-radius: 25px;
  background-color: #fff;
}
.frameAbout1 {
  position: absolute;
  left: 24px;
  top: 24px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.about {
  color: #34324c;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  font-family: Rubik, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 79px;
  height: 35px;
  flex-direction: column;
}
.frameAbout2 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.frameAboutEntry {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 12px;
}
.akarIconsPeopleGroup {
  width: 24px;
  height: 24px;
}
.icon {
  width: 100%;
  height: 100%;
}
._246Experts {
  color: #51646d;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}

.akarIconsChatBubble {
  width: 24px;
  height: 24px;
}

._100kQuestionsAndAnswers {
  color: #51646d;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}

.bxUpvote {
  width: 24px;
  height: 24px;
}

._50kUpvotes {
  color: #51646d;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}

.icBaselineGeneratingTokens {
  width: 24px;
  height: 24px;
}

._145TokensAwarded {
  color: #51646d;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frameExperts {
  width: min-content;
  height: min-content;
  padding: 24px 108px 24px 24px;
  border-radius: 25px;
  background-color: #fff;
  align-self: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.topExperts {
  color: #34324c;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  font-family: Rubik, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 144px;
  height: 35px;
  flex-direction: column;
}
.frameUser {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 12px;
}
.frameUserFormat1 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
}
.pseudoNearExpert {
  color: #6074dd;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frameUserFormat2 {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 12px;
}
.frameUserFormat3 {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 2px;
}
.numUpvotes {
  color: #969696;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.bxsUpvote {
  width: 16px;
  height: 16px;
  align-items: center;
}
.collected {
  color: #969696;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.avatar_portrait1 {
  width: 48px;
  height: 48px;
  border-radius: 157.75px;
  background-image:/* webpackIgnore: true */ url('/src/images/avatar_portrait1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frameUser4 {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 12px;
}

.frameLogo {
  position: absolute;
  left: 160px;
  top: 186px;
  width: 1120px;
  height: 242px;
  place-content: center;
  align-items: center;
  padding: 243px 490px 0 0;
  border-radius: 32px;
  background-color: #000000;
}

.frameLogo1 {
  position: absolute;
  left: 395px;
  top: 87px;
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 28px;
}

.logoImage {
  width: 200px;
  height: 150px;
  background-image:/* webpackIgnore: true */ url('/src/images/logo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nearProtocol {
  color: #54325c;
  font-size: 40px;
  line-height: 120px;
  font-weight: bold;
  font-family: Rubik, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 233px;
  height: 49px;
  flex-direction: column;
}

.askQuestionButton {
  position: absolute;
  left: 1136px;
  top: 29px;
  width: min-content;
  height: min-content;
  padding: 8px 12px;
  outline: solid 1px #6074dd;
  outline-offset: 0px;
  border-radius: 25px;
  background-color: #6074dd;
  box-shadow: 0px 4px 8px 0px #6074dd40;
}
.askAQuestion {
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.feed_list {
  position: relative;
  left: 153px;
  top: 491px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 24px;
  border-radius: 25px;
  background-color: #fff;
  margin-bottom: 20px;
}

.postedQuestionFrame {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.postedQuestionFrame1 {
  width: 703px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.postedQuestionFrame2 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.question_title {
  color: #34324c;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.question_content {
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 703px;
  height: 72px;
  flex-direction: column;
}
.postedQuestionLine {
  width: 703px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #dedede;
  margin-bottom: -1px;
}
.askByFrame {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.askByGroupFrame {
  position: relative;
  width: 61px;
  height: 14px;
}
.askedBy {
  color: #34324c;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.askByFrame1 {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 12px;
}

.AskByFrame2 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
}
.pseudoNearExpert2 {
  color: #6074dd;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._2Answers1Question {
  color: #969696;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
